h1{
    font-size: 50px;
    margin: 0%;
}
 .name-highlight{
    color: rgb(255, 149, 0);
 }
 .half-width{
    width: 40%;
    float: left;
    margin-left: 4%;
    padding-left: 2%;
 }
 .half-width img{
    width: 100%;
 }
 .top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
 }
 .section{
    height: 500px;
 }